! ------------------------------------------------------------------
! Start Template: {{ self._TemplateReference__context.name }}
!
!
!Customer: {{customerName}}
!Hostname: {{devName}}
!Location: {{ location.street }} {{ location.postCode }} {{ location.location }}
!Template for {{ switchType }}
!
!
! End Template: {{ self._TemplateReference__context.name }}
! ------------------------------------------------------------------

